
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Generator" CONTENT="Aptana Studio">
    <meta name="Author" CONTENT="Cormac Liston">
    <meta name="Keywords" CONTENT="Handover">
    <meta name="Description" CONTENT="Handover Dashboard system">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Ticker
    </title>
    <style>
        @import "css/bootstrap.min.css";
        @import "css/custom.css";
        @import "css/dashBoardClientCustom.css";
    </style>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/respond.js"></script>
</head>
<body>
<header>
    <div class="row" id="header1">
        <div class="container">
            <div class="col-sm-8 noSpace">
                <img src="img/meteor_logo.png" alt="corporate-logo" class="noSpace">
            </div>
            <div class="col-sm-4 loggedIn">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="row" id="header2">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <h1>Services Dashboard</h1>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <!-- LEFT HAND COLUMN -->
                    <div class="col-sm-2">
                        <h4 class="featureBoxSide">Change Management</h4>
                        <div id="div1_left" class="featureBoxSide">
                            See <a href="http://fsc.meteor.ie/" target="blank">here</a> for details of recently sheduled and implemented change requests.<BR><BR>
                            For queries, please contact the <a href="mailto:TechnologyOperationsChangeManagement@meteor.ie?subject=Change Request Query">Change Management Team</a>
                        </div>

                        <h4 class="featureBoxSide">On Call Roster</h4>
                        <div id="On-Call"  class="featureBoxSide" >
                            Click <a href="http://sharepoint/technology/Operations/Shared%20Documents/Forms/AllItems.aspx" Target="_blank">here</a> for the current on call roster
                        </div>
                        <h4 class="featureBoxSide">Number of NON Triggered SMS</h4>
                        <div id="div_Free_SMS" name="div_Free_SMS" class="featureBoxSide"></div>

                        <h4 class="featureBoxSide">Sectors Off Air</h4>
                        <div id="div_sectors" name="div_sectors" class="featureBoxSide" ></div>
                    </div>
                    <!-- CENTER COLUMN -->
                    <div class="col-sm-8">
                        <form class="form-horizontal" action="./authCreateTicker" method="POST">
                            <div class="form-group">
                                <label for="tickerDesc" class="control-label">Ticker Description:</label>
                                <input type="text" class="form-control" name="tickerDesc" id="tickerDesc" value="scrolling ticker" size="100" maxlength="190">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-orange btn-block" name="createTicker" value="Create" type="submit">Button</button>
                            </div>
                        </form>
                    </div>
                    <!-- RIGHT HAND COLUMN -->
                    <div class="col-sm-2">
                        <h4 class="featureBoxSide">Performance Reports</h4>
                        <div class='featureBoxSide' border=1 >
                            Click <a href="\\Dubfp1\D\Network Operations\NOC\OffAirSiteTracker" Target="_blank">here</a> to view daily outage reports
                        </div>
                        <h4 class="featureBoxSide">COO Reports</h4>
                        <div class="featureBoxSide" border=1 >
                            Click <a href="http://sharepoint/technology/Operations/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2ftechnology%2fOperations%2fShared%20Documents%2fOperations%20KPI%20Reporting%2fPublished%20KPI%20Reports&FolderCTID=&View={AD5608FF-E5CB-44F2-94FB-BF44B34A743E}" Target="_blank">here</a> to view Monthly COO Packs
                        </div>
                        <h4 class="featureBoxSide">Weather Forecast</h4>
                        <div class="featureBoxSide">
                            Rainfall affects the performance of the Radio Network.<br> <br>
                            Check out the latest weather on the <a target="_blank" href="http://www.met.ie/latest/rainfall_radar.asp?ani=y">Rainfall Radar</a>

                            <p>Forecast for Today<br><img title="forecastToday" style="width: 145px; height: 150px" alt="ft" src="http://www.met.ie/weathermaps/nat00_weather.png" /></p>
                            <p>Forecast for Tomorrow<br><img title="forecastTomorrrow" style="width: 145px; height: 150px" alt="ft" src="http://www.met.ie/weathermaps/nat01_weather.png" /></p>
                            <p>Forecast for day after Tomorrow<br><img title="forecastTomorrow+1" style="width: 145px; height: 150px" alt="ft+1" src="http://www.met.ie/weathermaps/nat02_weather.png" /></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>
