{#--------------------------------#}
{# templates/index.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}
{% block title %}
	Home
{% endblock %}

{#--------------------------------#}

{% block navigation %}
	&nbsp;
{% endblock %}

{#--------------------------------#}

{% block loggedIn %}
    <a href="./login"><button type="submit" class="btn btn-orange">Log In</button></a>
{% endblock %}

{#--------------------------------#}

{% block main %}
    &nbsp;
{% endblock %}
