{#--------------------------------#}
{# templates/index.html.twig #}
{#--------------------------------#}

{% extends "_layout.html.twig" %}

{#--------------------------------#}
{% block title %}
	Home
{% endblock %}

{#--------------------------------#}

{% block navigation %}
{% endblock %}

{#--------------------------------#}

{% block loggedIn %}
    <a href="./login" class="btn btn-orange" role="button">Log In</a>
{% endblock %}

{#--------------------------------#}

{% block main %}
    &nbsp;
{% endblock %}
