<div class="dropdown">

    <button id="dLabel" class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ loggedInText }}<span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>&nbsp;</li>
        <li><a href="./logOut" class="orange">Log Out</a></li>
    </ul>
</div>