<div class="dropdown">
    <button class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{ loggedInText }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>&nbsp;</li>
        <li><a href="./logOut" class="orange">Log Out</a></li>
    </ul>
</div>