<li class="active"><a href="./authHome">Home</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="./authIncident?searchParam=VAS">VAS</a></li>
        <li><a href="./authIncident?searchParam=INTERNET">Internet</a></li>
        <li><a href="./authIncident?searchParam=RAN">RAN</a></li>
        <li><a href="./authIncident?searchParam=CRM">CRM</a></li>
        <li><a href="./authIncident?searchParam=ITOPS">IT Ops</a></li>
        <li><a href="./authIncident?searchParam=LEON">Leon</a></li>
        <li><a href="./authIncident?searchParam=DUNDRUM">Dundrum</a></li>
        <li><a href="./authIncident?searchParam=CLONSHAUGH">Clonshaugh</a></li>
        <li><a href="./authIncident?searchParam=CITYWEST">Citywest</a></li>
        <li><a href="./authIncident?searchParam=SHIFTLEAD">Shift Lead</a></li>

    </ul>
</li>
<li><a href="#">Search</a></li>
<li><a href="./authOnGoingCr">Ongoing CR's</a></li>
<li><a href="./authDashAdmin">Dashboard</a></li>
<li><a href="./authTicker">Ticker</a></li>